@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,400,700');

* {
	font-family: 'Yantramanav', sans-serif;
}

body {
	background: #f9fbfb;
}

/*Nav Bar*/
#nav-bar {
	list-style-type: none;
	margin: 0 auto;
	padding: 0px;
	background: #004953;
	width: 100%;
	padding-bottom: 5px;
}

#home-DropDown {
	margin-right: 6%;
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 0px;
}

.nav-items {
	display: inline;
	padding: 10px;
	color: #f9fbfb;
	font-size: 16px;
	font-weight: 300;
	border: solid #004953 2px;
	border-radius: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.nav-items:hover {
	background-color: #24606a;
	cursor: pointer;
}

.nav-active {
	background-color: #24606a;
}

/*Commercial Property - Add Field*/
h1 {
	font-weight: 300;
	padding: 20px;
	padding-left: 0px;
	color: #343434;
}

/*Field Types & Details header*/
h2 {
	font-size: 26px;
	padding: 25px;
	padding-left: 5px;
	padding-bottom: 0px;
	color: #343434;
	font-weight: bolder;
}

/*delete*/
#temp {
	padding-bottom: 5px;
}

#field-D-header {
	padding-top: 5px;
	padding-left: 0px;
}

/*Field Types div*/
#field-types {
	border: solid #a0c3c8 1.5px;
	border-radius: 5px;
	background: #eef4ff;
	max-height: 443px;
	overflow-x: hidden;
	overflow-y: auto;
	
}

::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: #f2f2f2;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #a6a6a6;
}


/*Filter Types description*/
#filter-types {
	font-size: 16px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	margin-left: 5px;
	font-weight: 400;
}

/*search box*/
#filter {
	border-style: none;
	border: solid #a0c3c8 1.5px;
	border-radius: 3px;
	color: #708c90;
	width: 97%;
	height: 35px;
	padding-top: 0px;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}

#filter:focus {
	outline: none;
}

.test {
	width: 87%;
	border: solid #d2e3e5;
	border-radius: 3px;
	height: 150px; /*TEMP*/
	margin: 0 auto;
	margin-bottom: 20px;

}

.test:hover {
	border: solid #007e94;
	background: #007e94;
	color: #fff;
	cursor: pointer;
}

.active {
	border: solid #007e94;
	background: #007e94;
	color: #fff;
}

#field-details {
	border: solid #a0c3c8 1.5px;
	border-radius: 5px;
	background: #fff;
	padding: 20px;
}

/*aware :not is not supported by iE9; simplified here for sake of purpose of project*/
input:not([type=submit]):not([type=file]) {
	font-size: 14px;
	font-family: 'Yantramanav', sans-serif;
	display: flex;
	flex: 1;
}

.no-gutters {
	padding: 0px;
}


h3 {
	font-size: 22px;
	padding: 20px;
	padding-left: 10px;
	padding-bottom: 0px;
	color: #343434;
	font-weight: bold;
}


#field-groups {
	border: solid #e0ebec 1.5px;
	border-radius: 5px;
	background: #f9fbfb;
	height: 100%;
	position: relative;
}

#choose-group {
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
	color: #708c90;
}

.group-list {
	padding: 10px;
	padding-bottom: 0px;
	background: #fff;
	border: solid #e0ebec 1.5px;
	border-radius: 5px;
	width: 90%;
	margin: 0 auto;
}

.group-list:hover {
	border: solid #a0c3c8 1.5px;
	cursor: pointer;
}

.group-title {
	color: #343434;
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.input-total {
	margin-top: 5px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: 700;
	color: #708c90;
}

#add-new-group {

	border-style: none;
	border: solid #a0c3c8 1.5px;
	border-radius: 3px;
	background: #fff;
	color: #3c3c3c;
	width: 90%;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
	margin-top: 20px;
	font-family: 'Yantramanav', sans-serif;
	font-size: 15px;
	font-weight: 700;
	position: absolute;
	bottom: 0;

}

.center {
	position: relative;
	text-align: center;
}

#add-new-group:hover {
	cursor: pointer;
	border: solid #004953 1.5px;
}

#save {
	border-style: none;
	border-radius: 1px;
	border: solid #008da6 1px;
	box-shadow: 0 0 0 1.5px #007e94;
	background: #008ca5;
	font-family: 'Yantramanav', sans-serif;
	color: #fff;
	text-shadow: -1px 1px #007e94;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
	margin-top: 20px;
}

#save:hover {
	cursor: pointer;
	background: #007e94;
}


#delete {
	float: right;
	border-style: none;
	border-radius: 1px;
	border: solid #b72b05 1px;
	box-shadow: 0 0 0 1.5px #a63036;
	background: #b61622;
	font-family: 'Yantramanav', sans-serif;
	color: #fff;
	text-shadow: -1px 1px #a3141f;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
	margin-top: 20px;
	margin-left: 20px;
}

#delete:hover {
	cursor: pointer;
	background: #a63036;
}

#cancel {
	float: right;
	border-style: none;
	border-radius: 1px;
	border: solid #fff 1px;
	box-shadow: 0 0 0 1.5px #bfd6d9;
	background: #fff;
	font-family: 'Yantramanav', sans-serif;
	color: #000;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
	margin-top: 20px;
}

#cancel:hover {
	cursor: pointer;
	background: #bfd6d9;
	border: solid #bfd6d9 1px;
}

@media (max-height: 700px) {
	h1 {
		font-size: 25px;
		padding: 10px;
		padding-left: 0px;
		margin-bottom: 5px;
	}

	#field-D-header {
		padding-top: 0px;
	}

	#field-details {
		padding-top: 10px;
	}	

	h2 {
		padding-top: 10px;
	}

	#nav-bar {
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}

@media (max-width: 992px) {
	h2 {
		font-size: 23px;
	}

	h3 {
		font-size: 19px;
	}
}


@media (max-width: 767.5px) {
	h1 {
		color: red;
	}

	#home-DropDown {
		padding-right: 0px;
	}

	.nav-items {
		padding: 3px;
	}

	#field-details {
		max-width: 88%;
		padding-top: 10px;
	}
	#field-types {
		max-width: 88%;
	}
	#field-groups {
		width: 100%;
	}

	h1 {
		font-size: 25px;
		padding: 10px;
		padding-left: 0px;
		margin-bottom: 5px;
	}
	
	#field-D-header {
		padding-top: 0px;
	}

	#nav-bar {
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

}

@media (max-width: 576px) {
	#nav-bar {
		padding-bottom: 10px;
	}

	h1 {
		font-size: 25px;
		padding: 10px;
		padding-left: 0px;
		margin-bottom: 5px;
	}

	#field-D-header {
		padding-top: 0px;
	}

	#field-details {
		padding-top: 10px;
	}

	#nav-bar {
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}