@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,700');

body {
	background: #f9fbfb;
}

/*Nav Bar*/
#nav-bar {
	list-style-type: none;
	margin: 0 auto;
	padding: 0px;
	background: #004953;
	width: 100%;
	padding-bottom: 5px;
}

#home-DropDown {
	margin-right: 6%;
	font-size: 30px;
	font-family: 'Yantramanav', sans-serif;
	font-weight: 700;
}

.nav-items {
	display: inline-block;
	padding: 10px;
	color: #f9fbfb;
	font-size: 16px;
	font-family: 'Yantramanav', sans-serif;
	border: solid #004953 2px;
	border-radius: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.nav-items:hover:not(.active) {
	background-color: #24606a;
}

.active {
	background-color: #24606a;
}

h1 {
	font-family: 'Yantramanav', sans-serif;
	padding: 20px;
	color: #343434;
}

#field-types {
	border: solid #a0c3c8 1.5px;
	border-radius: 5px;
	background: #eef4ff;
	margin-left: 35px;
	
}

#field-details {
	border: solid #a0c3c8 1.5px;
	border-radius: 5px;
	background: #fff;
	

}

h2 {
	font-family: 'Yantramanav', sans-serif;
	font-size: 25px;
	padding: 20px;
	padding-left: 10px;
	color: #343434;
	font-weight: bolder;
}

h3 {
	font-family: 'Yantramanav', sans-serif;
	font-size: 20px;
	padding: 20px;
	color: #343434;
	font-weight: bold;
}

#field-groups {
	float: right;
	clear: both;
	border: solid #eff5f5 1.5px;
	border-radius: 5px;
	background: #f9fbfb;
	width: 33.3%;
}

@media (max-width: 768px) {
	#field-details {
		margin-left: 35px;
		max-width: 88%;
	}
	#field-types {
		max-width: 88%;
	}
	#field-groups {
		width: 100%;
	}

	span {
		display: block;
	}

	}

@media (max-width: 576px) {

}